<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="60" /> 
    <title>Google Calendar Events</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script>
        function updateDateTime() {
            const now = new Date();
            const timeString = now.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
            const dayString = now.toLocaleDateString([], { weekday: 'long' });
            const dateString = now.toLocaleDateString([], { year: 'numeric', month: 'short', day: 'numeric' });

            document.getElementById('current-time').textContent = timeString;
            document.getElementById('current-day').textContent = dayString;
            document.getElementById('current-date').textContent = dateString;
        }

        setInterval(updateDateTime, 1000);
        window.onload = updateDateTime;
    </script>
</head>
<body>
    <div class="header">
        <div id="current-time" class="time"></div>
        <div id="current-day" class="day"></div>
        <div id="current-date" class="date"></div>
    </div>
    <div class="all-day-events">
        <h2>All-Day Events</h2>
        <ul>
            {% for event in all_day_events %}
            <li>{{ event[2] }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="current-event">
        {% if cam %}
        <div class="title"> {{ current_event_name }} &#128247; </div>
        {% else %}
        <div class="title"> {{ current_event_name }} </div>
        {% endif %}
        <div class="time"> {{ current_event_times }} </div>
    </div>
    <div class="next-event">
        <div> {{ upcoming_event }} </div>
    </div>
</body>
</html>
